.start-button {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  max-width: 60vw;
  margin: 1rem auto;
  padding: 0.5rem;

  background-color: var(--primary-color);
  color: var(--text-color);
  border-radius: 50px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: border 0.3s ease, background-color 0.3s ease, box-shadow 0.1s ease;
  border: 2px solid transparent;
}
.start-button .button-icon {
  display: flex;
}
.start-button .button-icon svg {
  width: 2.5rem;
  fill: var(--text-color);
}
.start-button:disabled .button-icon svg {
  fill: var(--text-color-light);
}

.start-button .button-caption {
  width: 2.5rem;
  padding: 0.5rem 0.5rem;
  line-height: 2.5rem;
  font-size: 1.1rem;
  background-color: var(--primary-color);
  border-radius: 50%;
}
.start-button:not(:disabled):hover {
  box-shadow: 0 2px 10px 0 var(--primary-color);
}
.start-button:disabled {
  background-color: transparent;
  border: 2px solid var(--text-color-light);
  color: var(--text-color-light);
}
