/* Set color variables */
:root {
  --primary-color: #007bff;
  --secondary-color: #61dafb;

  --text-color: whitesmoke;
  --text-color-light: rgba(255, 255, 255, 0.5);

  --background: #282c34;
}

.App {
  text-align: center;
  min-height: 100vh;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  color: var(--text-color);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  padding: 1rem;
}

.App-header h1 {
  font-size: 1.5rem;
}

main {
  flex: max-content;
  width: 90vw;
  max-width: 800px;
  padding: 1rem;
}

svg.icon {
  fill: var(--text-color);
  width: 3rem;
  height: 3rem;
  transition: all 0.3s ease;
}

svg.icon:hover {
  fill: white;
}

.App-link {
  color: var(--primary-color);
}
